/*===========================CSS RESET =================================*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* =====================Header=========================== */

header, footer {
    background: url(../images/bg.png);
    height: 150px;
}

.wrapper {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

/* =====================Main=========================== */

.main {
    margin: 84px 0 123px;
}

.main .wrapper {
    display: flex;
    justify-content: space-between;
}

.article-left {
    width: 50%;
    margin-right: 55px;
}

.article-left img {
    width: 100%;
}

.article-right {
    width: 50%;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 40px;
    line-height: 1.5;
}

.intro, .favorite {
    margin-top: 69px;
}

.bio {
    margin-top: 34px;
}

/* =====================Footer=========================== */

footer .wrapper {
    display: flex;
}

.footer-left, .footer-right {
    width: 50%
}

.copy {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    margin-bottom: 0;
}

.socials {
    display: flex;
    justify-content: flex-end;
}

.socials a {
    font-size: 24px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #ff7f00;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-left: 10px;
}

/* =====================Media Queries=========================== */

@media (max-width:1200px) {
    .wrapper {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .main .wrapper {
        flex-direction: column;
    }

    .wrapper {
        padding-left: 10px;
        padding-right: 10px;
        box-sizing: border-box;
    }

    .article-left, .article-right {
        width:100%;
    }

    .article-right {
        font-size: 36px;
    }

    footer .wrapper {
        flex-direction: column;
    }

    .footer-left, .footer-right {
        width: 100%;
    }

    .socials {
        justify-content: flex-start;
    }
}