body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    color: white;
    font-weight: 100;
}

.bg-video-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    z-index: -1000;
    top: 0;
    left: 0;
}

.bg-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center; 
}

.clock-face {
    width: 80vmin;
    height: 80vmin;
    border: 2px solid white;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.clock-face::after {
    content: '';
    display: block;
    position: absolute;
    width: 98%;
    height: 98%;
    left: 1%;
    top: 1%;
    border: 1px solid white;
    border-radius: 50%;
}

.clock-face::before {
    content: '';
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: white;
    left: calc(50% - 10px);
    top: calc(50% - 10px);
    border-radius: 50%;
}

.clock-heading {
    font-weight: 100;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 20vmin;
}

.clock-hand {
    background: white;
    position: absolute;
    bottom: calc(50% - 40px);
}

.clock-hours {
    width: 4px;
    height: 30%;
    left: calc(50% - 2px);
    transform-origin: 2px calc(100% - 40px);
    /* transform: rotate(45deg) */
}

.clock-minutes {
    width: 4px;
    height: 40%;
    left: calc(50% - 2px);
    transform-origin: 2px calc(100% - 40px);
    /* transform: rotate(45deg) */
}

.clock-seconds {
    width: 2px;
    height: 50%;
    left: calc(50% - 1px);
    transform-origin: 1px calc(100% - 40px);
    /* transform: rotate(45deg) */
}

.countdown {
    text-align: center;
}

.countdown-heading {
    font-weight: 100;
    font-size: 15px;
}

.countdown-body {
    display: flex;
    font-size: 26px;
}